.page_width{
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 480px;
}
.container1{
    float: left;
    width: 49%;
    font-size: 18px;
    text-align: justify;
}
.container2{
    float: right;
    width: 49%;
    font-size: 18px;
    text-align: justify;
}